@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(68,68,68);
    color: white;
}

input{
    width:95%;
    border:2px solid #aaa;
    border-radius:7px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    height: 50px;
    font-size: 17px;
}
  
input:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}

button {
    font-weight: bold;
    color: white;
    background-color: rgb(102, 102, 255);
    border: none;
    border-radius: 7px;
    width:95%;
    height: 50px;
    transition:.3s;
}

button:hover{
    border-color:rgb(0, 128, 255);
    box-shadow:0 0 8px 0 dodgerBlue;
}